header{
    background: $color-texto;
    height: 80px;
    h2{
        font-family: $tipografia-alternativa;
        font-size: $fuente-grande;
        color: $color-primario;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 0 40px;
        ul{
            li{
                display: inline-block;
                list-style-type: none;
                padding: 10px 20px;
                a{
                    text-decoration: none;
                    font-size: $fuente-normal;
                    color: $color-primario;
                }
            }
        }

    }
}

header nav button{
    background: $color-primario;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    color: $color-texto;
    font-size: $fuente-normal;
}